/*#main{
    background-color: rgb(164, 90, 90);
    font-style: italic;
    font-weight: 200;
    color: blanchedalmond;
}
.task {
    background-color: bisque;
    font-style: italic;
    font-weight: 200;
    color: brown;
} */