#main{
    background-color: rgb(179, 210, 241);
    width:auto;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 200;
    color: rgb(15, 24, 80);
}
.todo {
    background: transparent;
    margin: 0%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 36px;
    font-weight: 300;
    box-sizing: border-box;
    outline: none;
    padding: 15px 40px;
    display: flexbox;
    justify-content:space-between;
    
} 
.done {
    background: transparent;
    margin: 0%;
    font-size: 36px;
    font-weight: 300;
    box-sizing: border-box;
    outline: none;
    padding: 15px 5px;
    border: 15px;
}
#taskadd {
    background: transparent;
    margin: 0%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 36px;
    font-weight: 300;
    box-sizing: border-box;
    outline: none;
    padding: 15px 5px;
    
}
#input {
    padding: 15px 40px;
    margin: 0%;
    background: transparent;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 88%;
    outline: none;
    font-size: 36px;
    font-weight: 300;
    box-sizing: border-box;
    background-color: rgb(179, 210, 241);
    color: rgb(15, 24, 80);
   

}

#button {
    margin: 0%;
    background: transparent;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 24px;
    font-weight: 200;
    width:30%;
    border:none;
    background-blend-mode: color-burn;
    background-color: rgb(179, 210, 241);
    color: rgb(11, 17, 56);

  

}